/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    height: 100%;
    width: 100%;
    background: url(../textures/dot-grid/dot-grid/dot-grid.png) repeat;
}

h1,
h2,
h3,
h4 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #744e4d;

}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 40px;
    color: #232323;
    padding: 2%;
}

.summary {
    margin-top: 2%;
    font-size: 1.0em;
}

div,
ul,
ul li {}

a {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #F98B7A;
}

h3 a {
    display: inline;
}

ul li,
ol li {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
}


[class*='comission-'],
.note {
    margin-top: 10%;
}

.requestList,
.contact {
    margin-top: 5%;
}

.wrapper {
    min-height: 100%;
    width: 1100px;
    margin: 0px auto;
    display: grid;
    background-color: #fefefe;
    padding: 3%;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
}

.date h1 {
    color: #F98B7A;
}

.accent,
.numbered {
    color: #FF593E;
}

.contact h4 a,
.contact h4 {
    font-size: 1.1em;
    color: #2b2b2b;
}

.footer {
    text-align: center;
    padding: 2%;
    font-size: 0.7em;
    color: #232323;
    font-weight: bold;
}